@font-face {
    font-family: sourceCodePro;
    src: url(SourceCodePro-Regular.ttf);
}
@font-face {
    font-family: sourceCodeProBold;
    src: url(SourceCodePro-Bold.ttf);
}

*{
    /* border: solid 2px black; */
    font-family: sourceCodePro;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    width: 0.3rem;
    height: 0.3rem;
    background-color: rgba(102, 50, 153, 1);
    border-radius: 0.25rem;
    padding: 0.2rem;
  }
  ::-webkit-scrollbar-track {
    width: 0.5rem;
    height: 0.5rem;
  }
.purple{
    color:rgba(102, 50, 153, 1);
}



html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;                                         /*#f2f2f2, #d3d3d3, #bbbbbb, #a4a4a4,*/
    color: #2f2f2f;
    background: radial-gradient(circle at top center,  #d3d3d3, #bbbbbb, #a4a4a4,rgb(102, 50, 153));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    overflow-x: hidden;
    /* -webkit-animation: gradientBackground 15s ease infinite; */
    /* animation: gradientBackground 20s ease infinite; */

}

/* @-webkit-keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 70% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

.main {
    width: 100%;
}

/*-----------------------------------------------------*/
/*-------------------RESUME-BLOCK----------------------*/
/*-----------------------------------------------------*/
  
.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content; 
    text-align: center;
  }

  .res_image_container {
    display: inline-block;
    height: fit-content;
  }

  .resume a {
    background-color: transparent;
  }
  
  .resume a img {
    height: 30%; 
    width: 30%;
    border: 1px solid rgba(102, 50, 153, 1);
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .resume a img:hover, :focus {
    transform: scale(2.5); 
  }
  
  
/*--------------------------------------------------------*/


.totop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    background-color: #2f2f2f;
    border: 1px solid rgba(102, 50, 153, 1);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center; line-height: 56px;
    font-size: 1.35rem;
    transition: 0.1s;
}
.totop:hover {
    background-color: rgba(102, 50, 153, 1);
    color: black;
    transform: scale(1.3);
    border: 1px solid #a4a4a4;
}

/* .totop:active, .totop:focus {
   
  transform: scale(1);
} */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    top:0;
}



.button_container .navb {
    margin:10px;
    border: 1px solid rgba(102, 50, 153, 1);
    color: #2f2f2f;
    border-radius: 4px;
    transition: 0.1s;
    cursor: pointer;
}

.navbar .navb:hover, 
.navbar .navb:focus {
    transform:scale(1.6);
    transition: 0.1s;
    background-color: rgba(102, 50, 153, 1);
    border: 1px solid white;
    color: white;
}

/* .resbutton:hover, :focus {
    transform:scale(1.3);
    transition: 1s;
    background-color: rgba(102, 50, 153, 1);
    color: white;
} */

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_container .logo {
    /* position: fixed; */
    width: 125px;
    height: 125px;
    margin-top: 3rem;;
    /* top: 20px;
    left: 30px;  */
    transition: transform 1s;
}

.logo_container .logo:hover {
    transform: scale(1.5) rotate(1turn);
    /* transform: rotate(-.2turn) */
    /* animation: bounce 1s; */
}

/* @keyframes bounce {
    0% {
        transform: rotate(0deg);
      }
      45% {
        transform: rotate(400deg);
      }
      55% {
        transform: rotate(380deg);
      }
      100% {
        transform: rotate(360deg);
      }
  } */

#header{
    text-align: center;
    font-size: 7.5rem;
    font-family: sourceCodePro;
    margin-top: 0;
    
    
}
h3{
    text-align: center;
    font-size: 4.68rem;
    
}
.subtitle{
    text-align: center;
    margin-top: -3.75rem;
    font-size: 3.2rem;
}
.about{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    /* margin-top: -40px; */
    font-size: 1.5rem;
}
.skill{
    
    display: flex;
    
    height: 9.37;
    justify-content: center;

}
.skill img{
    width: 7%;
    /* max-height:70%; */
    height: auto;
    object-fit: contain;
    padding: 1.5rem;
    transition: transform 0.1s;
}

.skill img:hover {
    transform: scale(1.3);
}

.contact{
    display: flex;
    height: 6.25rem;
    justify-content: space-around;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
}
.contact img{
    transition: transform 0.1s;
    cursor: pointer;
    height: auto;
    object-fit: contain;
    
}   
.contact a{
    display: inherit;
}
.contact img:hover, :focus{
    transform: scale(1.3);
    
} 
.emailandphone{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.resbutton{
    cursor: pointer;
}

.project{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    /* width: fit-content; */
    

}
.project img{
    height: 15.6rem;
    margin: 0 5rem 0 5rem;
    transition: 0.3s;
    border: 1px solid rgba(102, 50, 153, 1);
    border-radius: 5px;
    transition: transform 0.3s;
}
.project img:hover, :focus{
    transform: scale(1.7);
    }

/*-----------------------------------------------------*/
/*------------------MOBILE-DEVICES---------------------*/
/*-----------------------------------------------------*/

@media screen and (max-width: 600px){
    #header{
        font-size:2.5rem;
        padding: 40px;
        margin-top: 10%;
    }
    .navbar{
        
    }
    .navbar .navb{
        font-size: 30%;
        /* width: 50px; */
        padding: 1px;;
        margin: .75rem;
        border-radius: 2px;
    }
    .subtitle{
        font-size: 1.12rem;
    }
    h3{
        font-size: 1.56rem;
        padding-bottom: 40px;
        padding-right: -20%;
        
    }
    .about{
        font-size: 0.75rem;
        margin-left: 2.18rem;
        margin-right: 2.18rem;
    }
    .resume{
        scale: 70%;
        margin-bottom: 2.5rem;
        width: auto;
    }
    .skill{
        height: fit-content;
        width: fit-content;
    }
    .skill img{
        padding: 3px;
    }
    .project{
        width: 95%;
        margin-left: .62rem;
        padding: 0;
        
        
    }

    .project .img_left {
        height: 5.6rem;
        transform-origin: left;
        
    }

    .project .img_right {
        height: 5.6rem;
        transform-origin: right;
        
    }
    .contact img{
        padding:1.25rem;
    }
   
    div.projectname{
        font-size: .8rem;
    }
    
    
}

@media screen and (max-width: 350px) and (min-width: 749px) {
    
}